.main-block{
  background: rgb(30,140,200);
  background: linear-gradient(90deg, rgba(30,140,200,1) 35%, rgba(0,219,180,1) 81%);
  margin: 0 auto;
}
.circles-row{
  width: 100%;
  padding: 200px 100px;
}
.circle-higlight{
  width: 100px;
  height: 100px;
  margin: 15px 15px;
  border: 3px solid #fff;
  border-radius: 50%;
}
.circle {
  width: 100px;
  height: 100px;
  margin: 15px 15px;
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='100' ry='100' stroke='%23FDF5F7FF' stroke-width='7' stroke-dasharray='20%25%2c15%25' stroke-dashoffset='86' stroke-linecap='butt'/%3e%3c/svg%3e");
  border-radius: 50%;
}
.day{
  position: relative;
  margin: 0 20px;
  top: 20px;
  color: #fff;
  font-family: monospace;
  font-size:35px;
  font-weight: 500;
}
